#loginPage{
    background: url(../image/bg/login-bg.png) center center/cover no-repeat fixed #ccc;
    @apply p-2 lg:p-10;
    height: 100%;
    min-height: 100vh;
}
#registrationPage{
    background: url(../image/bg/registration-bg.jpg) center center/cover no-repeat fixed #ccc;
    @apply p-2 lg:p-10;
    height: 100%;
    min-height: 100vh;
}
.logo-section{
    border-right: 1px solid rgba( 255, 255, 255, 0.18 );
}
.applogo{
    background: rgba( 0, 36, 80, 0.15 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 6px );
-webkit-backdrop-filter: blur( 6px );
border: 1px solid rgba( 255, 255, 255, 0.18 );
transition: all ease .5s;
}
.applogo:hover{
    background: rgba( 0, 36, 80, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 9.5px );
-webkit-backdrop-filter: blur( 9.5px );
border: 1px solid rgba( 255, 255, 255, 0.18 );
transition: all ease .5s;
}
.login-form{
    background: rgba( 0, 36, 80, 0.15 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 6px );
-webkit-backdrop-filter: blur( 6px );
border: 1px solid rgba( 255, 255, 255, 0.18 );
transition: all ease .5s;
}

.login-form label {
    @apply text-xl text-white;
}

.login-form input[type=text],
.login-form input[type=email],
.login-form input[type=password] {
    @apply block w-full h-12 px-5 text-white text-xl rounded-lg mt-2;
    background: rgba( 0, 36, 80, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transition: all ease .5s;
}
    .login-form input:hover {
        background: rgba( 0, 36, 80, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 9.5px );
        -webkit-backdrop-filter: blur( 9.5px );
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        transition: all ease .5s
    }

    input[type="checkbox"]{
        @apply w-5 h-5 ml-2 mr-5 
    }

    .submit-btn{
        @apply w-full text-white text-xl py-3;
        background: rgba( 0, 36, 80, 0.50 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 9px );
        -webkit-backdrop-filter: blur( 9px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        transition: all ease .5s;
    }
    .submit-btn:hover{
        background: rgba( 0, 36, 80, 0.80 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 14px );
    -webkit-backdrop-filter: blur( 14px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
        transition: all ease .5s;
    }

.modalForm{
    @apply bg-white shadow-lg w-1/2 p-5 rounded-md
}
.modalEl input{
    @apply p-3 bg-gray-100 my-2 w-full
}
.modalEl select{
    @apply p-3 bg-gray-100 my-2 w-full
}
.modalEl select option{
    @apply w-full bg-blue-100
}